body {
    background: $color-light-grey;
    font-size: $font-body;
    font-family: $font-secondary;
    color: $color-black;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1 {
    color: $color-white;
    font-size: $font-h1;
    font-weight: 700;
    font-family: $font-primary;
}

h2 {
    color: $color-black;
    font-size: $font-h2;
    font-weight: 700;
    font-family: $font-primary;
    margin-top: 32px;
    line-height: 56px;
}

h3 {
    color: $color-black;
    font-size: $font-h3;
    font-family: $font-primary;
    line-height: 40px;
}

h4 {
    color: $color-dark-grey;
    font-size: $font-h4;
    font-family: $font-primary;
    margin-top: 32px;
    line-height: 28px;
}


.container {
    width: 95%;
    max-width: 1280px;
}

#Nav {
    display: block;
    position: fixed;
    top: 0;
    z-index: 99999;
    transition: top 0.3s;
    transition-timing-function: ease-in;
    box-shadow: 0px 4px 16px rgba(150, 150, 150, 0.25);
}

#main-nav {
    width: 100vw;
}

.navbar-toggler {
    border: none;

    &:active, &:focus {
        color: transparent;
        border: none;
    }
    &-icon {
        background-image: url("./imgs/menu-icon.svg")
    }
   
}

.nav-link {
    text-transform: uppercase;
}

.nav-link:hover {
    color: $color-dark-purple;
}

.react-icons {
    color: $color-purple;

    &:hover {
        color:$color-dark-purple;
    }
}

.accounting-contener {
    margin-top:56px;
    img {
        width: 100%;
    }
}

//mediaqueries
@media screen and (min-width: $bp-mobile) { 
    .container {
        width: 75%;
    }
}