body {
    background: rgba(205, 180, 219, 0.15);
    font-size: $font-body;
    font-family: $font-secondary;
    color: $color-black;
}

h1 {
    color: $color-white;
    font-size: $font-h1;
    font-weight: 700;
    font-family: $font-primary;
}

h2 {
    color: $color-black;
    font-size: $font-h2;
    font-weight: 700;
    font-family: $font-primary;
    margin-top: 32px;
    line-height: 56px;
}

h3 {
    color: $color-black;
    font-size: $font-h3;
    font-family: $font-primary;
    line-height: 40px;
}

h4 {
    color: $color-dark-grey;
    font-size: $font-h4;
    font-family: $font-primary;
    margin-top: 32px;
    line-height: 28px;
}



.container {
    width: 95%;
}