#contact {
    display: flex;
    flex-wrap: wrap;

    .numbers {
        width: 100%;
    }

    .title {
        color: $color-black;
        font-size: $font-body-big;
        font-family: $font-primary;
        width: 100%;
        border-bottom: solid 1px $color-black;
        margin-bottom: 0;
    }

    .line-left {
        padding-top: 21px;
    }

    .contact-icons {
        div {
            margin-bottom: 20px;
            svg {
                margin-right: 20px;


            }
            font-family: $font-secondary;
        }

        &:hover {
            fill:$color-dark-grey;
        }
    }

    .links {
        background-image: url("./imgs/contact.webp");
        width: 100%;
        height: calc(40vh - 56px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
        padding-right: 18px;
        margin-bottom: 24px;
        
        .btn-primary {
            color: $color-dark-grey;
            background-color: $color-white;
            border-color: $color-purple;
            border-radius: 0;
            height: 68px;
            width: 64px;
            transform: translateY(-20px);
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 21px;
            }

            svg:first-child {
                width: 27px;
            }
        }

        .btn-primary:hover {
            background-color: $color-purple;
            svg {
                color:$color-white;
            }
        }
    }

    .natalia {
        font-size: 3em;
        font-weight: 600;
        stroke: $color-dark-grey;
        font-size: $font-natalia;
        stroke-width: 3px;
        margin-bottom: 20px;
        animation: contactAnimate 9s infinite alternate;

        * {
            font-family: $font-primary;
        }
      }

      @keyframes contactAnimate {
        0% {
          stroke-dasharray: 0 50%;
          stroke-dashoffset: 20%;
        }
        100% {
          stroke-dasharray: 50% 0;
          stroke-dashoffset: -20%;
        }
      }

      //Mediaqueries
      @media screen and (min-width: $bp-mobile) {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 80px;
        height: 40vh;
        margin-bottom: 48px;

        .numbers {
            max-width: 30vw;
            height: 40vh;
        }

        .links {
            max-width: 30vw;
            height: 40vh;
        }

        .links:before {
        background-color: $color-purple;
        content: "";
        display: inline-block;
        height: 1px;
        position: absolute;
        vertical-align: middle;
        width: 50%;
        }

        .links:before {
        left: 0;
        bottom: 0;
        width: 100px;
        transform: translateX(-100%);
        }

        .line-left {
            border-left: 1px solid $color-black;
            padding-left: 36px;
            padding-top: 60px;
            height: calc(100% - 84px);
        }

        .title {
            font-size: $font-medium;
            padding-bottom: 24px;
        }

        .contact-icons div{
            padding-bottom: clamp(0px, 1vw, 64px);
        }

      }
}