#hero {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(48, 48, 48, 0.15) 52.6%, rgba(48, 48, 48, 0.8) 100%), url("./imgs/hero.webp")  ;
    height: calc(100vh - 56px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 56px;
 
 }
 
 #title {
    font-size: $font-h1;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   text-align: left;
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: $color-white;
 
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 72px;
 }
 
 #resume {
   text-align: center;
   position: absolute;
   top: 90%;
   left: 5%;
   color: $color-white;
   font-size: $font-body;
   text-transform: uppercase;
   width: 95%;
   text-align: left;
   display: flex;
   align-items: stretch;
   justify-content: space-between;
   align-content: space-around;
  
   img {
    margin-left: 8px;
    margin-right: 8px;
   }
 }
 
 h1:before {
   content: "";
   width: 40px;
   flex: 1 1;
   border-top: 3px solid  $color-purple;
   margin: auto;
   display: block;
   transform: translateY(-18px);
 }
 
 h1::after {
   width: 40px;
   content: ".";
   display: inline-block;
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: $color-purple;
 
 }

 #resume::after {
  content: "";
  width: 100%;
  flex: 1 1;
  border-top: 1px solid  $color-purple;
  margin: auto;
  display: inline-block;

}